# Hidden files
# -----------------------------------
._*
*~
.~lock.*

# Temp files
# -----------------------------------
.DS_Store
.DS_Store?
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# IDE files
# -----------------------------------
.buildpath
.idea
.project
.settings
nbproject

# Vendor files
# -----------------------------------
node_modules
vendor

# CONFIG files
# -----------------------------------
*.httpd.conf
.env

# EB Files
# -----------------------------------
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml

# Node.js
# -----------------------------------
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# TypeScript
# -----------------------------------
*.tsbuildinfo
dist/